body.dark{
  background-color: var(--VeryDarkBlueBG);
}

.dark .contentHeader{
  background-color: var(--VeryDarkBlueTopBGPattern);
}

.dark .contentHeader .contentTitle h2 {
  color: var(--WhiteText);
}

.dark .contentHeader .contentTitle p {
  color: var(--DesaturatedBlueText);
}

.dark .contentSwitchToogle h3{
  color: var(--DesaturatedBlueText);
}


.dark label::after{
  background-color: var(--VeryDarkBlueBG);
}

/* Main */

.dark .contentFollowers,
.dark .overviewSocialMedia{
  background-color: var(--DarkDesaturatedBlueCardBG);
}

.dark .instagram{
  background: 
    linear-gradient(hsl(228, 28%, 20%), hsl(228, 28%, 20%)) padding-box,
    linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) border-box;
}


.dark .contentFollowers:hover,
.dark .overviewSocialMedia:hover{
  filter: brightness(150%);
}

.dark .sectionUserSocialMedia span {
  color: var(--DesaturatedBlueText);
}

.dark .sectionAboutFollowers h1 {
  color: var(--WhiteText);
}

.dark .sectionAboutFollowers h4 {
  color: var(--DesaturatedBlueText);
}


/* Second section */

.dark .sectionTitle h3{
  color: var(--WhiteText);
}

.dark .overviewSocialMedia .analyzedContent span{
  color: var(--DesaturatedBlueText);
}
.dark .overviewSocialMedia .aboutPercentageIncrease h5{
  color: var(--WhiteBG);
}