* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Primary */
  --colorlimeGreen: hsl(163, 72%, 41%);
  --colorbrightRed: hsl(356, 69%, 56%);
  --colorFacebook: hsl(208, 92%, 53%);
  --colorTwitter: hsl(203, 89%, 53%);
  --colorYouTube: hsl(348, 97%, 39%);

  /*Light Theme*/
  --colorToggle: hsl(230, 22%, 74%);

  /* Dark Theme */
  --VeryDarkBlueBG: hsl(230, 17%, 14%);
  --VeryDarkBlueTopBGPattern: hsl(232, 19%, 15%);
  --DarkDesaturatedBlueCardBG: hsl(228, 28%, 20%);
  --DesaturatedBlueText: hsl(228, 34%, 66%);
  --WhiteText: hsl(0, 0%, 100%);

  /* Light Theme */
  --WhiteBG: hsl(0, 0%, 100%);
  --VeryPaleBlueTopBGPattern: hsl(225, 100%, 98%);
  --LightGrayishBlueCardBG: hsl(227, 47%, 96%);
  --DarkGrayishBlueText: hsl(228, 12%, 44%);
  --VeryDarkBlueText: hsl(230, 17%, 14%);

}

body {
  font: 400 1rem 'Inter', sans-serif;
  background-color: var(--WhiteBG);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
