* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 1rem 'Manrope', sans-serif;
  background-color: #1f2632;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
