.sectionInformationAboutSocialMedia{
  width: 100%;
  margin: 0 auto;
  padding: 2.1875rem 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contentFollowers,
.overviewSocialMedia{
  background-color: var(--VeryPaleBlueTopBGPattern);
  text-align: center;
  padding: 1.5625rem 4.0625rem;
  border-radius: .3125rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.contentFollowers:hover,
.overviewSocialMedia:hover{
  filter: brightness(92%);
}

.contentFollowers .sectionUserSocialMedia,
.contentFollowers .sectionSubscriberContentAnalysis {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sectionUserSocialMedia span {
  font-size: .75rem;
  color: var(--DarkGrayishBlueText);
}

.sectionAboutFollowers h1 {
  font-size: 3rem;
  color: var(--VeryDarkBlueText);
}

.sectionAboutFollowers h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--DarkGrayishBlueText);
  letter-spacing: .1875rem;
}

.sectionSubscriberContentAnalysis p {
  color: var(--colorlimeGreen);
  font-size: .75rem;
  text-transform: capitalize;
}

.sectionSubscriberContentAnalysis.analysisDrop p {
  color: var(--colorbrightRed);
}

.facebook{
  border-top: .25rem solid var(--colorFacebook);
}

.twitter{
  border-top: .25rem solid var(--colorTwitter);
}

.instagram{
  background: 
    linear-gradient(hsl(227, 47%, 96%), hsl(227, 47%, 96%)) padding-box,
    linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) border-box;
  border-radius: .5rem;
  border-top: .25rem solid transparent;
}

.youtube{
  border-top: .25rem solid var(--colorYouTube);
}

/* Second section */
.sectionAboutOverviewToday{
  padding: 2.1875rem 1.25rem;
}

.sectionTitle h3{
  margin-bottom: 1.5625rem;
  font-size: 1.375rem;
  text-transform: capitalize;
  color: var(--DarkGrayishBlueText);
}

.contentOverviewSocialMedia{
  display: grid;
  grid-template-columns:  1fr;
  grid-gap: 1.875rem;
}

.overviewSocialMedia{
  padding: 1.25rem;
}

.overviewSocialMedia .analyzedContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overviewSocialMedia .analyzedContent span{
  font-size: .875rem;
  font-weight: 700;
  color: var(--DarkGrayishBlueText);
}

.overviewSocialMedia .aboutPercentageIncrease{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overviewSocialMedia .aboutPercentageIncrease h5{
  font-size: 1.5rem;
}

.overviewSocialMedia .aboutPercentageIncrease .percentageIncrease{
  display: flex;
  align-items: center;
  gap: .3125rem;
}

.percentageIncrease p{
  color: var(--colorlimeGreen);
  font-size: .75rem;
  text-transform: capitalize;
}

p.percentageDrop{
  color: var(--colorbrightRed);
}